<% layout('templates/boilerplate') -%>

<div class="row">
<h1 class="text-center">Edit campground</h1>
<div class="col-md-6 offset-md-3">
    <div>
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST"
            class="needs-validation" novalidate enctype="multipart/form-data">
        
        <section class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="campground[title]" id="title" placeholder="Title" required class="form-control" value="<%= campground.title %>">
            <!-- <div class="valid-feedback">Looks good!</div> -->
            </section>
        
        <section class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="campground[location]" id="location" placeholder="Location" class="form-control" required value="<%= campground.location %>">
            <!-- <div class="valid-feedback">Looks good!</div> -->
            </section>

        <section class="mb-3">
            <label for="price" class="form-label">Campground price</label>
                <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" class="form-control" placeholder="0.00" aria-label="Price" aria-describedby="price-label"
                    id="price" name="campground[price]" value="<%= campground.price %>" required>
            </div>
            <!-- <div class="valid-feedback">Looks good!</div> -->
          </section>
        
        <section class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="campground[description]" id="description" placeholder="Description"
            class="form-control" required rows="6"><%= campground.description %></textarea>
        </section>

            <section class="mb-4">
                <label for="images" class="form-label">Upload more pictures (optional) - allowed formats are png, jpg and jpeg</label>
                <input class="form-control" type="file" id="images" multiple name="images">
                <div class="invalid-feedback fileError">You can only have up to 10 pictures per campground. You already have <%= campground.images.length %> . </div>
                <div class="invalid-feedback fileError">Maybe you would like to delete some pictures first?</div>
            </section>
<!--  -->
<div class="accordion mb-3" id="deleteAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Delete pictures (optional)</button>
        </h2>
      <div id="collapseOne" class="accordion-collapse collapse collapsed" data-bs-parent="#deleteAccordion">
        <div class="accordion-body">
              <div class="mb-3 d-flex flex-wrap justify-content-around">
                <% campground.images.forEach((img, i) => { %>
                    <div class="cursor-pointer">
                        <div class="d-block ms-2">
                        <label for="image-<%=i %>">Delete?</label>
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename %>" class="deleteCheckbox">
                    </div>
                    <img class="uploadedImages m-2" src="<%= img.thumbnail %>" alt="">
                    <!--refuse deletion of last array-->
                    </div>
                    <% }) %>
              </div>
            </div>
        </div>
      </div>
    </div>

        <section class="mb-3">
            <button class="btn btn-info">Save changes and update campground</button>
        </section>
    </form>
    
    <footer>
        <a href="/campgrounds/<%= campground._id %>">Back to campground</a>
    </footer>
</div>
</div>
</div>